<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>servletmainpage</servlet-name>
        <servlet-class>servletmainpage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pageno3</servlet-name>
        <servlet-class>pageno3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>issuebook</servlet-name>
        <servlet-class>detailsbook.issuebook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletmainpage</servlet-name>
        <url-pattern>/servletmainpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pageno3</servlet-name>
        <url-pattern>/pageno3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>issuebook</servlet-name>
        <url-pattern>/issuebook</url-pattern>
    </servlet-mapping>
</web-app>
